USE [AkirasBoutiques]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[direccion] [text] NOT NULL,
	[fec_nac] [date] NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id_detalle] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_empleados] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[direccion] [varchar](100) NULL,
	[NumeroDeTelefono] [varchar](10) NULL,
	[edad] [int] NULL,
	[correoElectronico] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[Id_sucursal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha] [date] NULL,
	[id_detalle] [int] NOT NULL,
	[id_empleados] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[precio] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 01/10/2025 02:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[Id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](40) NULL,
	[NombreEncargado] [varchar](100) NULL,
	[direccion] [varchar](100) NULL,
	[numerodetelefono] [varchar](10) NULL,
	[ciudad] [varchar](30) NULL,
	[estado] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Blusa', N'Prenda abierta de tela fina , similar a la camisa , que usan las mujeres y los niños , y que cubre la parte superior del cuerpo')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Falda', N'Prenda de vestir que cuelga de la cintura y cubre las piernas, al menos en parte. ')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Pantalón', N'Prenda de vestir que se ajusta a la cintura y llega generalmente hasta el pie , cubriendo cada pierna separadamente .')
GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', CAST(N'1989-06-15' AS Date), 1828921321, N'mariantonia@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (1, N'Óscar Germán', N'Wong Tabares ', N'Calle Revolución #879 col. México', CAST(N'1994-01-28' AS Date), 2035672143, N'germanwong@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (2, N'Valentina Anastasia', N'Huerta Corral', N'Calle Flamenco #3493 col. Aviar', CAST(N'1992-07-03' AS Date), 0, N'valehue92@gmail.com')
GO
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (1, 32, 4, 1600)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (2, 8, 3, 690)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (3, 39, 4, 200)
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([id_empleados], [nombre], [direccion], [NumeroDeTelefono], [edad], [correoElectronico], [contraseña], [Id_sucursal]) VALUES (1, N'Sonia Alejandra Fernández Moreno', N'Av. Roble #507', N'4447831225', 35, N's.fernandez@akiras.com', N'pass123', 1)
INSERT [dbo].[Empleados] ([id_empleados], [nombre], [direccion], [NumeroDeTelefono], [edad], [correoElectronico], [contraseña], [Id_sucursal]) VALUES (2, N'Juan Pérez López', N'Calle Cacao #10', N'4441234567', 28, N'juan.perez@akiras.com', N'pass123', 1)
INSERT [dbo].[Empleados] ([id_empleados], [nombre], [direccion], [NumeroDeTelefono], [edad], [correoElectronico], [contraseña], [Id_sucursal]) VALUES (3, N'Laura Gómez Ruíz', N'Av. Palmas #22', N'4449876543', 24, N'laura.gomez@akiras.com', N'pass123', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle], [id_empleados]) VALUES (1, 9, CAST(N'2021-12-22' AS Date), 1, 17)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle], [id_empleados]) VALUES (2, 9, CAST(N'2021-10-11' AS Date), 2, 6)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle], [id_empleados]) VALUES (3, 4, CAST(N'2021-12-07' AS Date), 3, 27)
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (1, N'Blusa de flores', 200, 70, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (2, N'Blusa tipo escocesa ', 150, 35, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (3, N'Blusa rayada manga larga', 100, 37, 1)
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([Id_sucursal], [nombre], [NombreEncargado], [direccion], [numerodetelefono], [ciudad], [estado]) VALUES (1, N'Akira''s Boutique: Las Mercedes', N'Sonia Alejandra Fernández Moreno', N'Calle Roble #507 Fracc. Las Mercedes', N'4447831225', N'San Luis Potosí', N'San Luis Potosí')
INSERT [dbo].[Sucursal] ([Id_sucursal], [nombre], [NombreEncargado], [direccion], [numerodetelefono], [ciudad], [estado]) VALUES (2, N'Akira''s Boutique: Obraje', N'Fernando Calderón Ayala', N'Calle Dr. Jesús Díaz de León #438 col. Obraje', N'4493780921', N'Aguascalientes', N'Aguascalientes')
INSERT [dbo].[Sucursal] ([Id_sucursal], [nombre], [NombreEncargado], [direccion], [numerodetelefono], [ciudad], [estado]) VALUES (3, N'Akira''s Boutique: Galerías Mazatlán', N'Daniela Fernanda Díaz Ordaz', N'Av. de la Marina #6204, Marina, local 35', N'6692932059', N'Mazatlán', N'Sinaloa')
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__ED1E3B6E75DFECF4]    Script Date: 01/10/2025 02:08:55 p. m. ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[correoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [id_producto]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([Id_sucursal])
REFERENCES [dbo].[Sucursal] ([Id_sucursal])
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_empleado] FOREIGN KEY([id_empleados])
REFERENCES [dbo].[Empleados] ([id_empleados])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_factura_empleado]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle] ([id_detalle])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_detalle]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [id_categoria]
GO


-- Agregar la columna id_empleados permitiendo NULL temporalmente
ALTER TABLE Factura
ADD id_empleados INT;
GO

-- Asignar un ID de empleado aleatorio entre 1 y 40 a los 40 registros antiguos
UPDATE Factura
SET id_empleados = 
    CAST(ABS(CHECKSUM(NEWID())) % 40 AS INT) + 1  
WHERE id_empleados IS NULL;
GO

-- Hacer la columna obligatoria (NOT NULL)
ALTER TABLE Factura
ALTER COLUMN id_empleados INT NOT NULL;
GO

-- Agregar la Clave Foránea para conectar Factura con Empleados
ALTER TABLE Factura
ADD CONSTRAINT FK_Factura_Empleado
FOREIGN KEY (id_empleados) REFERENCES Empleados(id_empleados);
GO